# Backend
PORT=4000
NODE_ENV=development
# Genera una cadena larga y secreta antes de implementar el login con JWT
JWT_SECRET=

# PostgreSQL
# Estos valores coinciden con los de docker-compose.yml, no los cambies sin avisar al equipo
DB_HOST=localhost
DB_PORT=5432
DB_NAME=citas_medicas
DB_USER=postgres
DB_PASSWORD=postgres

# Frontend
VITE_API_URL=http://localhost:4000/api

