PORT=4000
NODE_ENV=development
# Genera una cadena larga y secreta antes de implementar el login con JWT
JWT_SECRET=
# Deben coincidir con los valores de docker-compose.yml
DB_HOST=localhost
DB_PORT=5432
DB_NAME=citas_medicas
DB_USER=postgres
DB_PASSWORD=postgres
